::selection {
    color: white !important;
    background: black !important;
}

@font-face {
  /* font-family: 'Lato', sans-serif; */
  font-family: 'Cormorant-Regular';
  src:
  url('fonts/Cormorant-Regular.ttf') format('truetype');
  font-family: 'Cormorant-Regular';
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face{
  font-family: 'Lato-Light';
  src:
  /* url('fonts/Lato-Regular.ttf') format('truetype'), */
  url('fonts/Lato-Light.ttf') format('truetype');
}


#js-navbar-toggle{
  font-family: 'Cormorant-Regular';
}

#left-col {
  position: fixed;
  left: 0;
  top:0;
  bottom:0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: white;
  color: black;
  width: 220px;
}

.nav-img{
  /* position:relative; */
  z-index: -1;
}

.text-block{
  position: absolute;
  top:5px;
}

.right-col {
  margin-left: 220px;
  /* max-width:1200px; */
  /* max-width:2560px; */
}

.sidebar {
  margin-top: -100px;
  margin-left: 25%;
  z-index:1;
}

.sidebar a {
  /* font-size: 0.92rem; */
  font-size: 0.92rem;
}

.home-link:hover {
  text-decoration: none;
}

.right-body{
  margin-top: 5% !important;
}

.name{
  font-family: 'Cormorant-Regular';
  font-size: 32px;
  margin-left: 60px;
  margin-top: 80px;
  margin-bottom: none;
  text-decoration: none;
}

.home-titles{
  margin-top: 15%;
  font-family: 'Cormorant-Regular';
}

/* .tagline{
  font-family: 'Cormorant-Regular';
  font-size: 15px;
  margin-left: 60px;
  margin-top: none;
  text-decoration: none;
} */

p {
  font-family: "Lato-Light";
  font-size: 18px;
  color:#323232;
}



.uk-nav a{
  font-family: 'Cormorant-Regular';
  font-size: 22px !important;
}



.navbar-toggle {
  display: none;
}

.content {
  margin:0 auto;
  margin-top: 8%;
  margin-bottom: 10% !important;
  margin-right: 10%;
  margin-left: 10%;
}

.content-body {
  margin-top: 8%
}

/* .content-cards-first-row {
  margin:0 auto;
  margin-top: 15%;
  margin-bottom: 5% !important;
  margin-right: 5%;
  margin-left: 5%;
}

.content-texts-first-row {
  margin:0 auto;
  margin-top: 30%;
  margin-bottom: 5% !important;
  margin-right: 5%;
  margin-left: 5%;
} */

.content-cards {
  margin:0 auto;
  margin-top: 5%;
  /* margin-bottom: 1% !important; */
  margin-right: 5%;
  margin-left: 5%;
}




.icon-caption{
  font-size: 12px
}


.side-bar-container{
  margin-top: 150px;
  margin-left: 80px;
  text-align:left;
}


.dumpster{
position: absolute;
bottom: 50px;
}

.content-container{
  margin:0 auto;
  padding-top: 70px;
  padding-left:150px;
  padding-right:80px;
}



.quote-sidebar{
  position: relative;
  padding-left: 1em;
  border-left: 0.2em solid;
  line-height: 1.5em
}

.quote{
  font-family: "Lato";
  font-size: 16px;
  color:#323232;

}

.quotes-orange{
  position: relative;
  padding-left: 1em;
  border-left: 0.2em solid;
  line-height: 1.5em;
  border-color:#FF6600;
  font-family: "Lato";
  font-size: 16px;
  color:#454545;

}

.quote-r{
  text-align: right;
  margin-bottom: 20px;
  width:300px;
}

.quote-l{
  text-align: left;
  margin-bottom: 20px;
  width:300px;
}


.mapify-polygon {
  transition: none;
}

.mapify-hover{
  transition:0.2s all;
  fill:rgba(0,0,255,0.10);
}

.custom-hover{
  transition:0.2s all;
  fill:rgba(0,0,255,0.10);
}

.center {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.center-img-small {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}



.project-img-small{
    margin-top: 30px;
    margin-bottom: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.img-small{
  width: 25%;
  margin-right:50px;
}

.img-m{
  width: 40%;
  margin-right:50px;
}

.project-img-m{
  width: 100%;
  margin-top: 15px;

}

.img-closet{
  width: 30%;
  margin-right:10px;
}

.project-img{
  margin-top: 50px;
  margin-bottom: 50px;
}


.img-caption{
  color: #454545;
  font-size: 14px;
}

.pic-text-center{
  align-items: center;
}
/*
.bg-card-img{
  z-index:-1;
} */

.logo{
  width:5%;
  float:left;
}

/* .shadow{
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
} */

.background-box-color{
  /* background-color:#f6f6f6; */
}
.project-tag{
  margin:0 !important;
  font-size: 16px;
  color:darkgray;
}


.titles{
  font-family: 'Cormorant-Regular';
  color:black;
  font-size: 1.5rem;
}

.sub-titles{
  font-family: 'Cormorant-Regular';
  color:black;
  font-size: 1.35rem;

}

#number-survey{
  font-family: 'Cormorant-Regular';
text-align: right;
font-size: 5rem;

}

.insights{
  font-family: 'Lato';
  color:#323232;
  font-size: 1.3rem;

}
.description-container{
  margin-top: 30px;
  font-size:18px;
  /* color:black; */
}

.project-brief{
  /* font-family: 'Lato', sans-serif;
  font-size:12px; */
  color:black;
}

.project-details{
  color:black;
}

.description-container p {
  /* font-size: 0.85rem; */
}

.picture-caption{
  font-size: 14px;
  text-align: right;
}

.img-spacing{
  margin-top: 15px;
  margin-bottom: 0px;
}

.cover-spacing{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.cover-description a:hover{
  text-decoration: none;
}

.right{
  align:"right";
}

.right-align{
  margin-left: 60%;
  margin-top: 10px;
}

.about-intro{
  /* margin-top: 10%; */
  font-family: 'Lato';
  color:black;
  font-size:14px;
}

.bottom-nav{
  display:flex;
  justify-content: space-between;
}

#footer_text{
  position: absolute;
  text-align:center;
  margin-left: 30%;
  /* margin-right: 27%; */
}

#bottom_ellipse{
  position: relative;
  margin-left:55%;
  margin-top: 20px;
}


.next-first{
  margin-top: 50px !important
  color:black;
  text-align: right;
  text-decoration: none;
}

.next-first a{
  text-decoration: none;
  text-align: right;
  color:#999;
}

.next-first a:hover{
  text-decoration: none;
  color:black;
}

.next{
  /* margin-top: 50px !important; */
  color:black;
  text-decoration: none;
  align-items: right;
  display: inline-block;
}

.next a{
  text-decoration: none;
  text-align: right;
  color:#999;
}



.prev{
  display: inline-block;
}

.next a:hover{
  text-decoration: none;
  color:black;
}

.prev a{
  text-decoration: none;
  color:#999;
}

.prev a:hover{
  text-decoration: none;
  color:black;
}


/* Media Queries for Mobile Responsive */

@media all and (min-width: 1600px) {
. }


@media all and (max-width: 1199px) {  }
@media all and (max-width: 991px) {  }
@media all and (max-width: 768px) {


  .navbar-toggle {
    display: block;
    position: absolute;
    /*margin-top:6%;*/
    top: 30px;
    right: 25px;
    cursor: pointer;
    font-size: 18px;
}

  #left-col {
    position: relative;
    width: 100%;
    /*height:150px;*/
  }

  .nav-img{
  width:70px;
  height:auto;
  }

  .name {
        display: block;
/**/
       /*position: absolute;*/
    margin-top:25px;
    margin-left:25px;
    top: 18px;
    font-size:1.7rem;
    /*height:50px;*/
    /*right: 10%;*/
    /*margin:/* 0;*/
    /*margin-left:7%;*/
    /*margin-top:4%;*/
  }

    .home-titles{
      font-family: 'Cormorant-Regular';
      margin-top: 0px;
    }

  .sidebar {
    /*margin-left:0;*/
    display: none;
    text-align:center;
    margin: 0 auto;
    /*margin-right:50px;*/
    /*margin-left: 10%;*/
  }

  .active {
    display: block;
  }
  .right-col {
    margin-left: 0;
  }
 }
@media all and (max-width: 575px) {

.content {
  margin:0 auto;
  margin-top: 3%;
  margin-bottom: 3% !important;
  margin-right: 3%;
  margin-left: 3%;
}
}
