/* ::selection {
    color: white !important;
    background: black !important;
} */


body{
  height: 100%; !important
  overflow: auto;
  background-color: #151515;
  color:#F5F4F4;
}

@font-face{
  font-family: 'Helvetica-Light';
  src:
  /* url('fonts/Lato-Regular.ttf') format('truetype'), */
  url('fonts/helvetica_light.ttf') format('truetype');
}

@font-face{
  font-family: 'Lato-Light';
  src:
  /* url('fonts/Lato-Regular.ttf') format('truetype'), */
  url('fonts/Lato-Light.ttf') format('truetype');
}

.blob{
  /* padding-left: 200px; */
  padding-top: 10px;
}

.introduction{
  padding: 30px;
  margin-top: 120px;
  color: white;
  width:75%;
}

/* START HOVER ANIMATION */
.home-covers {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.animation {
  transition: .5s ease;
  opacity: 0;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center; */
}

.home-covers:hover {
  opacity: 0.3;
}

.animation:hover {
  opacity: 1;
}

/* .cover-texts{
  color: white;
} */
/* END HOVER ANIMATION */

.headings{
  font-size: 50px;
  font-weight:bold;
  color:white;
}


.sub-headings{
  font-family:Helvatica, "Helvetica-Light";
  font-size: 50;
  /* font-weight:light; */
  color:white;
}

.body-margin{
  margin-left: 100px;
  margin-right: 100px;
}


.works-row{
  margin-bottom: 200px;
  margin-left: 100px;
  margin-right: 100px;
}
.works-row-1{
  margin-top: 150px;
}

p {
  font-family:"Helvetica-Light";
  /* font-size: 20px; */
  font-size: 1.3em;
}

.project-content{
  margin-top: 30px;
}

.role-time-team-container{
  margin-top: 50px;
}

.content-sections{
  margin-top: 100px;
  margin-bottom: 200px;
}
.section-titles{
  font-family:Helvetica;
  font-style: bold;
  font-size: 24px;
  color:#FFC9B8;
  letter-spacing: 3px;
}

.role-time-team{
  font-family: "Helvetica-Light"
  font-size: 14px;
  color:#9A9999;
}

.context-container{
  margin-top: 160px;
  margin-left: auto;
  margin-right: auto;
  width:60%;
}

.context{
position: relative;
padding-left: 1em;
border-left: 0.2em solid;
line-height: 1.5em



}

.img-center-M{
  margin-top: 60px;
  display: block;
  margin-left: auto;
  margin-right: auto;;
  width:40%;
}

.img-center-L{
  margin-top: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;;
}


.text-center{
  margin-left: auto;
  margin-right: auto;;
  width:40%;
}

.quote-sidebar{
  position: relative;
  padding-left: 1em;
  border-left: 0.2em solid;
  line-height: 1.5em
}

/* alora user research bullets */
.list-wrapper {
  margin-top: 100px;
  width:40%;
  margin-left: auto;
  margin-right: auto;
  position:relative;
}
.list-item-wrapper {
  margin-top:10px;
  position:relative;
}
.list-bullet {
  float:left;
  margin-left: 30px;
  margin-right:20px;
  background:#C6C5FE;
  height:20px;
  width:20px;
  line-height:30px;
  border-radius:100px;
  font-weight:700;
  color:white;
  text-align:center;
}
.list-item {
  display:table-row;
  vertical-align:middle;
}
.text-small{
  font-size: 16px;
}

#sketch-div{
  display:contents;!important
}



#footer_text{
  font-size: 16px;
  text-align:center;
  background-color:#151515; !important
  margin-bottom: 50px;
}

#bottom_logo{
  float:left;
  margin-left:38%;
  margin-top: -55px;
  width:50px;
}





/* Media Queries for Mobile Responsive */

@media all and (min-width: 1600px) {
. }


@media all and (max-width: 1199px) {  }
@media all and (max-width: 991px) {  }
@media all and (max-width: 768px) {
  .headings{
    font-size:30px;
  }
  .sub-headings{
    font-size:24px;
  }
  .introduction{
    margin-top: 10px;
    margin-left: 50px;
    padding: 0px;
  }
  #sketch-div{
    display: none;
  }
  .uk-navbar-right{
    visibility: hidden;
    display: none;
  }
  .works-row{
    margin-bottom: 80px;
    margin-left: 50px;
    margin-right: 50px;
  }


 }
@media all and (max-width: 575px) {
  .uk-navbar-left{
    visibility: visible;
    display:contents;
  }
  .body-margin{
    margin-left: 50px;
    margin-right: 50px;
  }
  .content-sections{
    margin-top: 50px;
    margin-bottom: 100px;
  }


}
